---
import BaseLayout from "../layouts/BaseLayout.astro";
import Test from "../components/Test.svelte";
---

<BaseLayout title="Test">
  <h1>Test</h1>
  <a href="/">astro</a>
  <Test client:visible />
</BaseLayout>
