---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("keymap");
---

<BaseLayout title="Keymaps">
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/keymap/${post.slug}/`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
